<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CadenaConexionGP" connectionString="Data Source=Daniel-NoteBook;Initial Catalog=GPTST;Integrated Security=SSPI;User ID=Daniel-NoteBook\Daniel;Password=qwerty;" providerName="" />
    <add name="CadenaConexionREP" connectionString="Data Source=Daniel-NoteBook;Initial Catalog=REPCOVI;Integrated Security=SSPI;User ID=Daniel-NoteBook\Daniel;Password=qwerty;" providerName="" />
    <add name="csCompany" connectionString="Data Source=Daniel-NoteBook;Initial Catalog=DYNAMICS;Integrated Security=SSPI;User ID=Daniel-NoteBook\Daniel;Password=qwerty;" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="FormatoFechaEconnect" value="dd/MM/yyyy" />
    <add key="FechaCero" value="01/01/1900" />
    <add key="idMoneda" value="PEN" />
    <!--ID DE ALMACEN-->
    <add key="sitio" value="OFI.LIMA" />
    <!--UNIDAD DE MEDIDA BASE-->
    <add key="unidad" value="UND" />
    <!--TIPOS DE DOCUMENTO CONFIGURADOS EN DYNAMICS QUE SE UTILIZAN PARA LOS DATOS TRIBUTARIOS-->
    <add key="tip_doc_ticket_factura" value="TKF" />
    <add key="tip_doc_ticket_boleta" value="TKB" />
    <add key="tip_doc_factura_manual" value="FV" />
    <add key="tip_doc_boleta_manual" value="BV" />
    
    <!--TIPOS DE DOCUMENTO INTERNOS DE DYNAMICS -->
    <add key="tip_doc_venta" value="F001" />
    <add key="tip_doc_detraccion" value="D001" />
    
    <!-- SERIE DE LOCALIZACION-->
    <add key="SERIE_LOC" value="005" />

    <!-- SERIE DE DATOS TRIBUTARIOS DETRACCION -->
    <add key="SERIE_DETRACCION_LOC" value="001" />

    <!-- DOCUMENTO TRIBUTARIO DE DETRACCION -->
    <add key="DOC_TRIBUTARIO_DETRACCION" value="DET" />

    <!-- DESTINO OPERACION DETRACCION 002 -> INAFECTO-->
    <add key="DETRACCION_DESTINO_OPERACION" value="002" />

    <!-- TIPO DE DOCUMENTOS DE CONSUMOS-->
    <add key="consumoVale" value="CONSV" />
    <add key="consumoTelepass" value="CONST" />
    
    <!--ID DE CHEQUERA EN DYNAMICS-->
    <add key="idChequeraDet" value="BN.TRANSP.LIM" />
    <!--ID DE DIRECCION POR DEFECTO EN GP-->
    <add key="idDireccion" value="LEGAL" />
    <!--tipos de documentos de identidad-->
    <add key="0" value="OTROS TIPOS DE DOCUMENTO" />
    <add key="1" value="DOCUMENTO NACIONAL DE IDENTIDAD" />
    <add key="4" value="CARNE DE EXTRANJERIA" />
    <add key="6" value="REGISTRO UNICO DE CONTRIBUYENTE" />
    <add key="A" value="CEDULA DIPLOMATICA DE IDENTIDAD" />
    <!-- CUENTAS CONTABLES POR ESTACION DE PEAJE-->
    <!--CONSUMO DE VALES-->
    <add key="CHIL_CUENTA_VAL_DEB" value="49.6.1.1.0.0.1" />
    <add key="CHIL_CUENTA_VAL_CRED" value="70.4.1.1.0.0.1" />
    <add key="JAHU_CUENTA_VAL_DEB" value="49.6.1.1.0.0.2" />
    <add key="JAHU_CUENTA_VAL_CRED" value="70.4.1.1.0.0.2" />
    <add key="ICA_CUENTA_VAL_DEB" value="49.6.1.1.0.0.3" />
    <add key="ICA_CUENTA_VAL_CRED" value="70.4.1.1.0.0.3" />
    <!-- CONSUMO DE TELEPASS -->
    <add key="CHIL_CUENTA_TELEPASS_DEB" value="49.6.1.1.0.0.4" />
    <add key="CHIL_CUENTA_TELEPASS_CRED" value="70.4.1.1.0.0.5" />
    <add key="JAHU_CUENTA_TELEPASS_DEB" value="49.6.1.1.0.0.4" />
    <add key="JAHU_CUENTA_TELEPASS_CRED" value="70.4.1.1.0.0.5" />
    <add key="ICA_CUENTA_TELEPASS_DEB" value="49.6.1.1.0.0.4" />
    <add key="ICA_CUENTA_TELEPASS_CRED" value="70.4.1.1.0.0.5" />
    
    <!-- TIPO DE DISTRIBUCION DE  CUENTA POR CADA CUENTA CONTABLE-->
    <!-- para todas las cuentas -->
    <add key="tipoDistribucionDefecto" value="1"/>
    <!-- agregar las cuentas, en caso no se encuentre la cuenta se tomara el valor de  tipoDistribucionDefecto -->
    <add key="49" value="1"/>
    <add key="70" value="13"/>

    <!-- FIN DE TIPO DE DISTRIBUCIONES  -->

    
    
    <!-- CLASE DE CLIENTES-->
    <add key="claseCliente" value="CC.TER.PEA" />
    <!-- tipo documento de detraccion-->
    <!-- Las detracciones pueden tener mas tipos de documento?-->
    <add key="idTipDocDetraccion" value="A2" />
    <!-- tipo documento de sobrantes-->
    <!-- Los sobrantes pueden tener mas de un tipo de documento?-->
    <add key="idTipDocSobrantes" value="FS" />
    <!-- tipo documento de sobrantes-->
    <!-- Los sobrantes pueden tener mas de un tipo de documento?-->
    <add key="idTipDocDiscrepancias" value="FD" />
    
    <!-- Tipo de documento Boleta de Discrepancia-->
    <add key="idTipDocBoletaDiscrepancias" value="BD" />

    <!-- Tipo de documento Boleta de Sobrantes-->
    <add key="idTipDocBoletaSobrantes" value="BS" />

        
    <!--articulo de detraccion-->
    <add key="articuloDetraccion" value="DETRACCION" />

    <!--articulo de sobrantes-->
    <add key="articuloSobrantes" value="SOBRANTE" />

    <!--articulo de discrepancia-->
    <add key="articuloDiscrepancias" value="DISCREPANCIA" />
    
    <!--Cliente Detraccion-->
    <add key="clienteDetraccion" value="DETRACCION" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- VENTANA EXTENDER DE ENTRADA DE TRANSACCIONES FINANCIERO GENERAL-->
    <add key="ExtConsumoWindowID" value="V_CONSUMO_GL" />
    <add key="ExtPagoVentaWindowID" value="V_ENTRADA_PAGO" />
    <!-- documento de origen en financiero general-->
    <add key="SOURCDOC" value="DG" />
    <add key="OrigenLoteVenta" value="Sales Entry"/>
    <add key="OrigenLoteFinGeneral" value="GL_Normal"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>